.gallery {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 80vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 60vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.active {
	scroll-snap-type: unset;
}

.carousel_li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}

.center_align {
    text-align: center;
        border: 3px solid green;
        padding-left: 50%;
        padding-top: 30%;
  }


.img_align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 30%;
    
    }